@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}

.arrow-icon {
    width: 24px;
}

/* Animated Navbar & Header on Scroll  */

:root {
    --clr-neutral-500: white;
    --clr-neutral-400: gray;
    --clr-neutral-300: black;
}

.header-one {
    --__animationStartsAfter: 180vh;
    --__animationDistance: 200vh;
    /* --__surfaceColorStart: hsla(0, 12%, 5%, 0.952); */
    /* --__surfaceColorStart: rgb(0, 0, 0); */
    --__surfaceColorStart: hsla(0, 0%, 0%, 1);
    --__surfaceColorEnd: hsla(0, 0%, 100%, 0.747);
    --__textColorStart: white;
    --__textColorEnd: black;

    --__logoAfterAnimation: none;

    padding: 16px 48px;
    margin-inline: auto;
    margin-block: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--__headerWidth, auto);

    /* border-radius: 100vw; */
    
    color: var(--__textColorStart);
    backdrop-filter: blur(1rem);
    /* background-color: var(--clr-neutral-300); */
    background-color: var(--__surfaceColorStart);

    position: sticky;
    z-index: 1000;
    top: -5rem;
    animation: stickyNav linear forwards;

    @supports (animation-timeline: view()) {
        backdrop-filter: blur(1rem);

        animation-timeline: view();
        animation-range-start: var(--__animationStartsAfter);
        animation-range-end: var(--__animationDistance);
    }

    .gpsr-logo {
        display: var(--__logoDisplay, block);
        height: 48px;
        width: auto;
    }

    .nav-one-links {
        display: flex;
        align-items: center;
        /* gap: 16px; */
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
}

/* .nav-one-item:nth-child(6) {
    background: white;
    padding: 8px 32px;
    color: darkgreen;
} */

.nav-one-item > .nav-one-item-anchor {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    
}

.nav-one-item {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 24px;
    text-align: left;
}

.nav-one-item:nth-child(2) {
    /* color: #4dff56; */
}

.nav-one-item:hover {
    cursor: pointer;
    font-weight: 800;
    text-underline-offset: 0.171;
    transform: scale(1.2);
}



@keyframes stickyNav {
    0%, 100% {
        --__headerWidth: fit-content;
        --__logoDisplay: none;
    }

    100% {
        top: 1rem;
        color: var(--__textColorEnd);
        /* background-color: var(--clr-neutral-500); */
        background-color: var(--__surfaceColorEnd);
        box-shadow:0 0 0.75rem hsl(0 0% 0% / 0.3);
        border-radius: 10px;
    }
}

/* Responsive Navbar  */

.header-two {
    background-color: black;
    z-index: 4;
    display: none;
    position: sticky;
    top: 0;
}

li {
    list-style: none;
}

.header-two a {
    text-decoration: none;
    color: white;
}

.resp-navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.resp-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.resp-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: auto;
}

.resp-nav-link {
    /* transition: 0.7s ease-in-out; */
}

.resp-nav-link:hover {
    color: lightgrey;
}

.resp-hamburger {
    display: none;
    cursor: pointer;
}

.resp-hamburger-bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .resp-hamburger {
        display: block;
    }
    /* .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    } */
    .resp-hamburger.active .resp-hamburger-bar:nth-child(1) {
        transform: translateY(4px) rotateZ(45deg);
    }
    .resp-hamburger.active .resp-hamburger-bar:nth-child(2) {
        transform: translateY(-4px) rotateZ(-45deg);
    }

    .resp-navbar {
        min-height: 60px;
        padding: 0 16px;
    }

    .resp-logo {
        width: 128px;
    }

    .resp-nav-menu {
        position: fixed;
        left: -100%;
        top: 60px;
        gap: 16px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: black;
        background: hsla(0, 100%, 1%, 0.589);
        backdrop-filter: blur(2rem);
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.3s;
        /* z-index: 500; */
    }

    .resp-nav-item {
        margin: 16px 0;
    }

    .resp-nav-menu.active {
        left: 0;
    }
}

.nav-link.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 129, 3);
    padding: 8px 16px;
    /* border-radius: 8px; */
}

@media only screen and (max-width: 768px) {
    .header-one {
        display: none;
    }
    .header-two {
        display: block;
    }
}

/* Hero  */
.circle-div {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: absolute;
    background: linear-gradient(#6aac00, #00704a);
}

.circle-div.one {
    width: 300px;
    height: 300px;
    transform: rotate(330deg);
    margin-left: -180px;
    margin-top: -100px;
    opacity: 0.5;
    z-index: 1;
}

.circle-div.two {
    width: 40px;
    height: 40px;
    transform: rotate(270deg);
    margin-left: 1150px;
    margin-top: -280px;
    opacity: 0.5;
    z-index: 1;
}

.circle-div.three {
    width: 30px;
    height: 30px;
    transform: rotate(235deg);
    margin-left: 450px;
    margin-top: -380px;
    opacity: 0.5;
    z-index: 1;
}

.circle-div.four {
    width: 200px;
    height: 200px;
    transform: rotate(235deg);
    margin-left: 650px;
    margin-top: -140px;
    opacity: 0.5;
    z-index: 1;
}

.circle-div.five {
    width: 150px;
    height: 150px;
    transform: rotate(335deg);
    margin-left: 220px;
    margin-top: 150px;
    opacity: 0.5;
    z-index: 1;
}

.hero {
    background: linear-gradient(#6aac00, #00704a);
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: white;
    /* padding: 600px 0 96px 0;
    margin-top: -540px;
    border-radius: 50%; */
    /* width: 2000px; */
    margin-inline: auto;
    padding: 64px 0;
    overflow-x: hidden;
    width: 100%;
}

.hero-left, .hero-right {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    z-index: 2;
}

.hero-left {
    margin-left: -24px;
}

.hero-center {
    display: flex;
    flex-direction: column;
    gap: 8px;
    z-index: 2;
}

.hero-right {
    margin-right: -24px;
}

.hero-left div, .hero-right div {
    display: flex;
    gap: 48px;
}

h1 {
    font-size: 64px;
}

p {
    font-size: 24px;
    line-height: 36px;
}

.hero-center {
    width: 900px;
}

.hero p {
    width: 800px;
    margin: 0 auto;
    font-weight: 600;
    opacity: 0.8;
}

.hero img {
    width: 96px;
    height: 96px;
    opacity: 0.7;
}

@media only screen and (max-width:768px) {
    .hero {
        padding: 64px 0;
        width: 100vw;
    }
    .hero-left, .hero-right {
        gap: 16px;
        display: none;
    }
    .hero-left {
        margin-left: -48px;
    }
    h1 {
        font-size: 32px;
        width: 100vw;
    }
    .hero-center p {
        width: 100vw;
    }
    p {
        font-size: 16px;
        line-height: 24px;
    }
    .hero-left, .hero-right, .circle-div {
        display: none;
    }
}

/* Para  */

.paragraph {
    padding: 64px;
    text-align: center;
    width: 1100px;
    margin: 0 auto;
}

@media only screen and (max-width:768px) {
    .paragraph {
        padding: 32px 16px ;
        width: 100vw;
    }
}

/* Key Highlights  */

span {
    font-weight: 700;
}

.key-highlights {
    margin: 0 auto;
    text-align: center;
    padding: 32px 0 64px 0;
    max-width: 1300px;
}

.key-highlights h2 {
    font-size: 32px;
    color: darkgreen;
}

.key-highlights p {
    font-size: 16px;
    line-height: 24px;
    text-align: center;
}

.key-highlights img {
    height: 96px;
    width: 96px;
}

.key-highlights .cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
    padding: 64px;
}

.key-highlights .cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    padding: 24px;
    /* border: 1px solid darkgreen; */
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}

.key-highlights .cards .card .card-images {
    display: flex;
}

.card-images > #icon1 {
    height: 64px;
    width: auto;
    margin: 14px 0;
}

img#card-logo {
    width: 128px;
    height: 128px;
    object-fit: contain;
    margin-bottom: -32px;
}

.key-highlights .cards .card:hover {
    /* background: hsl(120, 100%, 70%, 0.2); */
    transform: scale(1.1);
}

@media only screen and (max-width:768px) {
    .key-highlights {
        padding: 0px;
        width: 100vw;
    }
    .key-highlights h2 {
        font-size: 24px;
    }
    .key-highlights img {
        height: 32px;
        width: 32px;
    }
    .key-highlights .cards {
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
        padding: 32px 16px;
    }
    .key-highlights .cards .card {
        gap: 16px;
        padding: 16px;
    }
    .key-highlights .cards .card:hover {
        transform: none;
    }
    .card-images > #icon1 {
        height: 32px;
        width: auto;
        margin: 14px 0;
    }
}

/* Our Business  */

.our-business {
    display: flex;
    flex-direction: column;
    gap: 48px;
    background: rgba(128, 128, 128, 0.103);
    padding: 72px;
    margin: auto;
}

.our-business-head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.our-business-head h2 {
    font-size: 48px;
    margin-bottom: 8px;
    color: darkgreen;
}
.our-business-head p {
    font-size: 24px;
    line-height: 36px;
    width: 800px;
    text-align: center;
}

.our-business-image {
    width: 400px;
}

.our-business-body {
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry -50% cover 50%;
}

.our-business-body {
    display: flex;
    width: 1000px;
    margin: 48px auto;
}

.our-business-buttons {
    display: flex;
    flex-direction: column;
    gap: 200px;
}

.our-business-button {
    position: absolute;
}

.our-business-buttons-top, .our-business-buttons-bottom {
    display: flex;
    flex-direction: column;
    gap: 54px;
}

.our-business-button.one {
    margin-left: -300px;
    margin-top: -60px;
}

.our-business-button.five {
    margin-left: -300px;
    margin-top: -20px;
}

.our-business-button.three {
    margin-left: -20px;
    margin-top: -40px;
}

.our-business-button.two {
    margin-left: -100px;
    margin-top: 0px;
}

.our-business-button.four {
    margin-left: -90px;
    margin-top: -80px;
}

.our-business-button > a {
    display: flex;
    /* padding: 8px; */
    /* flex-direction: column; */
    align-items: center;
    gap: 16px;
    text-decoration: none;
}

.our-business-button > a > button {
        margin-top: 20px;
        padding: 10px 20px;
        font-size: 16px;
        border: none;
        background-color: darkgreen;
        color: white;
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-between;
        box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
        border-radius: 8px;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        font-family: 'Montserrat', sans-serif;
}


.our-business-button > a:hover {
    transform: scale(1.05);
    transition: 0.3s
}

.our-business-button > a > p {
    color: black;
    width: 300px;
    background-color: rgba(0, 128, 0, 0.185);
    padding: 8px;
    font-size: 16px;
    line-height: 24px;
    border-radius: 8px;
}

#our-business-button-para {
    display: none;
}

.our-business-button > a > button:hover + #our-business-button-para {
    display: block;
    position: relative;
    margin-bottom: -16px;
}

/* Tech Video */

.tech-video {
    position: relative;
    width: 100%;
    height: 600px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.795);
}

.tech-video video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 600px;
    object-fit: cover;
    transform: translate(-50%, -50%);
    z-index: -1;
}
.tech-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    padding: 64px;
    color: white;
    max-width: 1300px;
}

.tech-content h2 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
}

/* #green {
    color: greenyellow;
} */

.tech-content > p{
    width: 1000px;
}

.tech-content > .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
    margin: 48px 0;
}

.tech-content > .cards > .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 24px;
    border: 1px solid white;
    border-radius: 8px;
    /* background: rgba(255, 255, 255, 0.068); */
}

.tech-content > .cards > .card img{
    height: 96px;
    width: 96px;
    margin-bottom: 16px;
}

.tech-content > .cards > .card p {
    font-size: 16px;
    line-height: 24px;
}

.tech-buttons {
    display: flex;
    gap: 32px;
    margin-top: 32px;
}

.tech-button-anchor {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    background-color: darkgreen;
    color: white;
    cursor: pointer;
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
    border-radius: 8px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.tech-button-anchor:hover {
    transform: scale(1.125);
    transition: 0.3s;
}

.tech-button-anchor.secondary {
    background-color: white;
    width: 22%;
}

.tech-button {
    cursor: pointer;
}

/* .arrow-icon {
    display: none;
}

.hero-button:hover + .arrow-icon {
    display: block;
    transition: all 1s ease;
} */

.tech-button.secondary {
    background-color: white;
    color: darkgreen;
}

.arrow-icon {
    width: 24px;
}

.arrow-icon-secondary {
    width: 18px;
}

@media only screen and (max-width:768px) {
    .tech-video {
        height: fit-content;
        background: black;
    }
    .tech-video video {
        display: none;
    }
    .tech-content h2 {
        font-size: 24px;
    }
    .tech-content > p{
        width: 100vw;
        padding: 16px;
    }
    .tech-content > .cards {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 16px;
        margin: 48px 0;
    }
}

/* Engineering and Software  */
.engg-software-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 64px 0;
    max-width: 1500px;
    margin: 0 auto;
}

.engg-software-section .head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.engg-software-section h2 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
    color: darkgreen;
}

.engg-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 48px;
}

.engg-icons {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 25%;
}

.engg-icon {
    width: 128px;
    height: 128px;
    position: absolute;
    opacity: 0.2;
    filter: grayscale(1);
}

.engg-icon.zero {
    margin-left: -36px;
    margin-top: -128px;
}
.engg-icon.one {
    margin-left: 96px;
    margin-top: 20px;
}
.engg-icon.two {
    margin-left: -36px;
    margin-top: 150px;
}
.engg-icon.three {
    margin-left: 196px;
    margin-top: 180px;
}
.engg-icon.four {
    margin-left: 96px;
    margin-top: 300px;
}
.engg-icon.five {
    margin-left: -36px;
    margin-top: 430px;
}
.engg-icon.six {
    margin-left: -36px;
    margin-top: 20px;
}
.engg-icon.seven {
    margin-left: 128px;
    margin-top: 150px;
}
.engg-icon.eight {
    margin-left: -128px;
    margin-top: 180px;
}
.engg-icon.nine {
    margin-left: 0px;
    margin-top: 300px;
}
.engg-icon.ten {
    margin-left: 128px;
    margin-top: 430px;
}
.engg-icon.eleven {
    margin-left: 128px;
    margin-top: -128px;
}

.engg-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
    z-index: 1;
}

.engg-center img {
    width: 750px;
    height: 450px;
    border-radius: 8px;
}

@media only screen and (max-width:768px) {
    .engg-software-section {
        gap: 32px;
        align-items: center;
        padding: 64px 0;
        margin: 0 auto;
        width: 100vw;
        text-align: center;
    }
    .engg-software-section h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
    .engg-center {
        gap: 16px;
        z-index: 1;
    }
    .engg-icons {
        gap: 12px;
        width: 25%;
        display: none;
    }
    .engg-icon {
        width: 64px;
        height: 64px;
    }
    .engg-center img {
        width: 100vw;
        height: auto;
        padding: 0 16px;
        border-radius: 16px;
    }
}

/* CSL Section  */

.csl-box {
    background: rgba(128, 128, 128, 0.103);
    width: 100vw;
}

.csl-section {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    padding: 64px 96px;
    gap: 32px;
    margin: 64px auto;
    width: 1300px;
    background: none;
}

.csl-section .first-para,
.csl-section .second-para {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: right;
}

.csl-section div {
    margin: auto 0;
    grid-column: 3 / span 3;
    grid-row: 1/span 2;
}

.csl-section h2 {
    font-size: 96px;
    line-height: 96px;
}

.csl-section img {
    width: 200px;
    height: 200px;
    border-radius: 8px;
}

.csl-section .last-para {
    margin: auto;
    grid-column: 4/span 2;
}

@media only screen and (max-width:768px) {
    .csl-section {
        grid-template-columns: repeat(5, 1fr);
        padding: 16px;
        gap: 16px;
        margin: 32px auto;
        width: 100vw;
        background: none;
    }
    .csl-section h2 {
        font-size: 36px;
        line-height: 36px;
        text-align: left;
    }
    .csl-section h3{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
    .csl-section h4{
        font-size: 16px;
        line-height: 24px;
        text-align: left;
    }
    .csl-section img {
        width: calc((100vw - 64px)/4);
        height: auto;
        border-radius: 8px;
    }
    .csl-section .second-para {
        font-size: 10px;
        line-height: 14px;
        text-align: right;
        margin-top: -4px;
    }
    .csl-section .last-para {
        font-size: 10px;
        line-height: 14px;
        text-align: left;
        margin-top: -4px;
    }
}

/* JV & PArtnership Section */

.jv-partnership-section {
    display: flex;
    flex-direction: column;
    gap: 32px;
    align-items: center;
    padding: 24px 0 96px 0;
    max-width: 1500px;
    margin: 0 auto;
    width: 1300px;
}

.jv-partnership-section .head {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jv-partnership-section .head h2 {
    font-size: 48px;
    margin: 0;
    margin-bottom: 10px;
    color: darkgreen;
}

.jv-partnership-section .head p {
    width: 500px;
    text-align: center;
}

.jv-partnership-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 32px;
    gap: 24px;
    margin-top: 0px;
    width: 1000px;
}

.jv-partnership-grid h3 {
    font-size: 28px;
    color: darkgreen;
}

.jv-partnership-grid p {
    font-size: 16px;
    line-height: 24px;
}

.jv-partnership-grid .box img {
    height: 100px;
    width: auto;
}

.jv-partnership-grid .box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 8px;
    padding: 24px;
    align-self: flex-end;
    border-radius: 8px;
    /* box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322), 2px 1px 2px rgba(128, 128, 128, 0.7); */
    box-shadow: 2px 0px 5px rgba(128, 128, 128, 0.322);
}

.jv-partnership-grid .box.one,
.jv-partnership-grid .box.four {
    background: rgba(0, 100, 0, 0.103);
    /* background: #dce8db; */
    height: max-content;
    /* border: 1px solid rgba(255, 255, 255, 0.568); */
}

.jv-partnership-grid .box.three {
    /* background: rgba(0, 100, 0, 0.05); */
    height: max-content;
}

.jv-partnership-grid .box.two,
.jv-partnership-grid .box.five {
    background: rgba(0, 100, 0);
    color: white;
    height: min-content;
}


.jv-partnership-grid .box.two h3,
.jv-partnership-grid .box.five h3 {
    color: white;
}

#arya-logo {
    height: 150px;
    width: auto;
}

#saf-one-logo {
    width: 150px;
    height: auto;
}

#ioc-gps-logo {
    width: 180px;
    height: auto;
}

#bpcl-logo, #oil-logo {
    height: 80px;
    width: auto;
    margin-bottom: 8px;
}

#rocket-icon {
    height: 128px;
    width: auto;
    position: absolute;
    margin-top: -96px;
}

@media only screen and (max-width:768px) {
    .jv-partnership-section {
        gap: 32px;
        padding: 16px;
        margin: -64px auto 32px auto;
        width: 100vw;
    }
    .jv-partnership-section .head h2 {
        font-size: 24px;
        margin-bottom: 10px;
        width: 100vw;
        text-align: center;
    }
    .jv-partnership-section .head p {
        width: 100vw;
        padding: 0 24px;
    }
    .jv-partnership-grid {
        grid-template-columns: repeat(2, 1fr);
        padding: 16px;
        gap: 24px;
        margin-top: 0px;
        width: 100vw;
    }

    .jv-partnership-grid .box {
        gap: 8px;
        padding: 16px;
        align-self: flex-end;
    }

    .jv-partnership-grid .box.one,
    .jv-partnership-grid .box.four {
        height: 250px;
        align-self: flex-start;
    }

    .jv-partnership-grid .box.three {
        height: 200px;
        align-self: flex-start;
    }

    .jv-partnership-grid .box.two {
        height: 250px;
    }
    .jv-partnership-grid .box.five {
        height: 300px;
    }

    #saf-one-logo {
        width: 128px;
        height: auto;
    }

    #ioc-gps-logo {
        width: 128px;
        height: auto;
    }

    #bpcl-logo, #oil-logo {
        height: 72px;
        width: auto;
        margin-bottom: 8px;
    }
    #rocket-icon {
        height: 96px;
        width: auto;
        position: absolute;
        margin-top: -72px;
        /* margin-left: 196px; */
    }
}

/* Project Execution  */
.pe-section {
    background: rgba(128, 128, 128, 0.103);
}

.project-execution-section {
    display: flex;
    align-items: flex-start;
    gap: 64px;
    margin: auto;
    padding: 96px;
    width: 1400px;
}

.project-execution-section .left {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-top: 24px;
}

.project-execution-section .left h2 {
    font-size: 42px;
    margin-bottom: 8px;
    color: darkgreen;
}

.project-execution-section .left img {
    margin-top: 16px;
    height: 250px;
    width: 420px;
    border-radius: 8px;
}

.project-execution-section .right {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 60%;
    /* gap: 32px; */
}

.project-execution-section .right .box {
    padding: 24px;
}

.project-execution-section .right .box img{
    width: 96px;
    height: 96px;
    padding: 16px;
    background: rgb(255, 255, 255);
    border-radius: 25%;
    margin-bottom: 8px;
}

.project-execution-section .right .box h3{
    font-size: 24px;
    margin-bottom: 4px;
}

.project-execution-section .right .box p{
    font-size: 18px;
    line-height: 27px;
}

@media only screen and (max-width:768px) {
    .project-execution-section {
        flex-direction: column;
        align-items: flex-start;
        gap: 32px;
        margin: auto;
        padding: 16px;
        padding-bottom: 32px;
        width: 100vw;
    }
    .project-execution-section .left {
        width: 100%;
        margin-top: 0px;
    }
    .project-execution-section .left h2 {
        font-size: 24px;
        margin-bottom: 8px;
    }
    .project-execution-section .right {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        width: 100%;
        gap: 16px;
    }
    .project-execution-section .right .box {
        padding: 0;
    }
    .project-execution-section .right .box img{
        width: 64px;
        height: 64px;
        padding: 8px;
        border-radius: 20%;
        margin-bottom: 8px;
    }
    .project-execution-section .right .box h3{
        font-size: 16px;
        margin-bottom: 4px;
    }
    .project-execution-section .right .box p{
        font-size: 16px;
        line-height: 24px;
    }
}

/* Group Entities Section */

.group-entities-section {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 64px;
    margin: auto;
    padding: 96px;
    max-width: 1400px;
}

.group-entities-section .head{
    width: 650px;
}

.group-entities-section .head h2{
    font-size: 42px;
    margin-bottom: 8px;
    color: darkgreen;
}

.group-entities-section .grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 32px;
    margin-top: -140px;
}

.group-entities-section .grid .box{
    padding: 24px;
    align-self: flex-end;
    /* border: 1px solid black; */
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
    border-radius: 8px;
}

.group-entities-section .grid .box h3 {
    margin-bottom: 8px;
}

.group-entities-section .grid .box p{
    font-size: 18px;
    line-height: 27px;
}

.group-entities-section .grid .box ul {
    margin-top: 8px;
    padding: 0 24px;
}

.group-entities-section .grid .box li{
    font-size: 18px;
    line-height: 27px;
}

.group-entities-section .grid .box img {
    width: 150px;
    margin-bottom: 16px;
}

@media only screen and (max-width:768px) {
    .group-entities-section {
        gap: 32px;
        padding: 32px 16px;
        width: 100vw;
    }
    .group-entities-section .head{
        width: 100vw;
    }
    .group-entities-section .head h2{
        font-size: 24px;
    }
    .group-entities-section .grid {
        grid-template-columns: repeat(1,1fr);
        gap: 16px;
        margin-top: 0px;
    }
}

/* Footer */

footer {
    background: black;
    overflow-x: hidden;
}

.footer-container {
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    /* align-items: center; */
    gap: 48px;
    padding: 48px;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
    align-items: flex-start;
}

.footer-left p {
    font-size: 16px;
    line-height: 24px;
}

.footer-left .logo {
    height: 48px;
    width: auto;
}

.footer-right {
    display: flex;
    gap: 64px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    /* padding: 16px; */
}

.footer-links > a {
    color: gray;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;
}

.footer-links > a:hover {
    color: white;
    /* font-weight: 600; */
    transform: scale(1.1);
}

.footer-mobile {
    display: none;
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons > a {
    padding: 0;
}

.social-icon {
    height: 32px;
    width: 32px;
}

@media only screen and (max-width: 768px) {
    .footer-container {
        padding: 32px;
        width: 100vw;
    }
    .footer-container a {
        text-decoration: none;
    }
    .footer-left p {
        font-size: 12px;
    }
    .footer-mobile {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .footer-mobile a {
        color: white;
    }
    .footer-right {
        display: none;
    }
}

