@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 56px;
    color: darkgreen;
}

a {
    text-decoration: none;
}

/* Animated Navbar & Header on Scroll  */

:root {
    --clr-neutral-500: white;
    --clr-neutral-400: gray;
    --clr-neutral-300: black;
}


.header-one {
    --__animationStartsAfter: 110vh;
    --__animationDistance: 120vh;
    /* --__surfaceColorStart: hsla(0, 12%, 5%, 0.952); */
    /* --__surfaceColorStart: rgb(0, 0, 0); */
    --__surfaceColorStart: hsla(0, 0%, 0%, 1);
    --__surfaceColorEnd: hsla(0, 0%, 100%, 0.747);
    --__textColorStart: white;
    --__textColorEnd: black;

    --__logoAfterAnimation: none;

    padding: 16px 48px;
    margin-inline: auto;
    margin-block: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--__headerWidth, auto);

    /* border-radius: 100vw; */
    
    color: var(--__textColorStart);
    backdrop-filter: blur(1rem);
    /* background-color: var(--clr-neutral-300); */
    background-color: var(--__surfaceColorStart);

    position: sticky;
    z-index: 1000;
    top: -5rem;
    animation: stickyNav linear forwards;

    @supports (animation-timeline: view()) {
        backdrop-filter: blur(1rem);

        animation-timeline: view();
        animation-range-start: var(--__animationStartsAfter);
        animation-range-end: var(--__animationDistance);
    }

    .gpsr-logo {
        display: var(--__logoDisplay, block);
        height: 48px;
        width: auto;
    }

    .nav-one-links {
        display: flex;
        align-items: center;
        /* gap: 16px; */
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
}

/* .nav-one-item:nth-child(6) {
    background: white;
    padding: 8px 32px;
    color: darkgreen;
} */

.nav-one-item > .nav-one-item-anchor {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    
}

.nav-one-item {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 24px;
    text-align: left;
}

.nav-one-item:hover {
    cursor: pointer;
    font-weight: 800;
    text-underline-offset: 0.171;
    transform: scale(1.2);
}


@keyframes stickyNav {
    0%, 100% {
        --__headerWidth: fit-content;
        --__logoDisplay: none;
    }

    100% {
        top: 1rem;
        color: var(--__textColorEnd);
        /* background-color: var(--clr-neutral-500); */
        background-color: var(--__surfaceColorEnd);
        box-shadow:0 0 0.75rem hsl(0 0% 0% / 0.3);
        border-radius: 10px;
    }
}

.our-team-container {
    display: flex;
    flex-direction: column;
    /* gap: 96px; */
    /* padding: 96px; */
}

.our-team-container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 0 96px;
}

.our-team-container-head > p {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

.our-team-container-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 32px;
    background: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(16px);
    padding: 16px;
    margin-block: 16px;
}

button.slide-nav-button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    background: darkgreen;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

button.slide-nav-button:hover {
    transform: scale(1.125);
}

.team-members-group {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 96px;
}

/* .team-members-group .two {
    padding: 0 128px;
} */

.team-members {
    /* padding: 64px; */
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 16px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-card div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 16px 16px;
}

.team-member-card > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.member-info {
    display: none;
}

.team-member-card:hover {
    transform: scale(1.1);
}

.team-member-card:hover .member-info {
    display: block;
    position: absolute;
    background: white;
    width: fit-content;
    padding: 8px;
    margin-top: 260px;
    transition: 0.5s ease-in-out;
    font-size: 12px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#icon {
    width: 24px;
    height: 24px;
}

#promoters {
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0 144px; */
}

#advisors {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 150px;
}

.single-line-para {
    margin-bottom: 16px;
}

/* Footer  */

footer {
    background: black;
}

.footer-container {
    background-color: black;
    color: white;
    display: flex;
    width: 100vw;
    justify-content: space-between;
    /* align-items: center; */
    gap: 48px;
    padding: 48px;
    max-width: 1400px;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
    align-items: flex-start;
}

.footer-left .logo {
    height: 48px;
    width: auto;
}

.footer-right {
    display: flex;
    gap: 64px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    /* padding: 16px; */
}

.footer-links > a {
    color: gray;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links > a:hover {
    color: white;
    /* font-weight: 600; */
    transform: scale(1.1);
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons > a {
    padding: 0;
}

.social-icon {
    height: 32px;
    width: 32px;
}