@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

h1 {
    font-size: 56px;
    color: darkgreen;
}

a {
    text-decoration: none;
}

/* Animated Navbar & Header on Scroll  */

:root {
    --clr-neutral-500: white;
    --clr-neutral-400: gray;
    --clr-neutral-300: black;
}


.header-one {
    --__animationStartsAfter: 110vh;
    --__animationDistance: 120vh;
    /* --__surfaceColorStart: hsla(0, 12%, 5%, 0.952); */
    /* --__surfaceColorStart: rgb(0, 0, 0); */
    --__surfaceColorStart: hsla(0, 0%, 0%, 1);
    --__surfaceColorEnd: hsla(0, 0%, 100%, 0.747);
    --__textColorStart: white;
    --__textColorEnd: black;

    --__logoAfterAnimation: none;

    padding: 16px 48px;
    margin-inline: auto;
    margin-block: 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: var(--__headerWidth, auto);

    /* border-radius: 100vw; */
    
    color: var(--__textColorStart);
    backdrop-filter: blur(1rem);
    /* background-color: var(--clr-neutral-300); */
    background-color: var(--__surfaceColorStart);

    position: sticky;
    z-index: 1000;
    top: -5rem;
    animation: stickyNav linear forwards;

    @supports (animation-timeline: view()) {
        backdrop-filter: blur(1rem);

        animation-timeline: view();
        animation-range-start: var(--__animationStartsAfter);
        animation-range-end: var(--__animationDistance);
    }

    .gpsr-logo {
        display: var(--__logoDisplay, block);
        height: 48px;
        width: auto;
    }

    .nav-one-links {
        display: flex;
        align-items: center;
        /* gap: 16px; */
        list-style: none;
        margin: 0;
        padding: 0;
    }
    
}

/* .nav-one-item:nth-child(6) {
    background: white;
    padding: 8px 32px;
    color: darkgreen;
} */

.nav-one-item > .nav-one-item-anchor {
    color: inherit;
    text-decoration: none;
    font-weight: 500;
    
}

.nav-one-item {
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    padding: 0 24px;
    text-align: left;
}

.nav-one-item:hover {
    cursor: pointer;
    font-weight: 800;
    text-underline-offset: 0.171;
    transform: scale(1.2);
}


@keyframes stickyNav {
    0%, 100% {
        --__headerWidth: fit-content;
        --__logoDisplay: none;
    }

    100% {
        top: 1rem;
        color: var(--__textColorEnd);
        /* background-color: var(--clr-neutral-500); */
        background-color: var(--__surfaceColorEnd);
        box-shadow:0 0 0.75rem hsl(0 0% 0% / 0.3);
        border-radius: 10px;
    }
}

/* Responsive Navbar  */

.header-two {
    background-color: black;
    z-index: 4;
    display: none;
    position: sticky;
    top: 0;
}

li {
    list-style: none;
}

.header-two a {
    text-decoration: none;
    color: white;
}

.resp-navbar {
    min-height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.resp-nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 60px;
}


.resp-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 128px;
    height: auto;
}

.resp-nav-link {
    /* transition: 0.7s ease-in-out; */
}

.resp-nav-link:hover {
    color: lightgrey;
}

.resp-hamburger {
    display: none;
    cursor: pointer;
}

.resp-hamburger-bar {
    display: block;
    width: 25px;
    height: 1px;
    margin: 7px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: white;
}

@media (max-width:768px) {
    .resp-hamburger {
        display: block;
    }
    /* .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    } */
    .resp-hamburger.active .resp-hamburger-bar:nth-child(1) {
        transform: translateY(4px) rotateZ(45deg);
    }
    .resp-hamburger.active .resp-hamburger-bar:nth-child(2) {
        transform: translateY(-4px) rotateZ(-45deg);
    }

    .resp-navbar {
        min-height: 60px;
        padding: 0 16px;
    }

    .resp-logo {
        width: 128px;
    }

    .resp-nav-menu {
        position: fixed;
        left: -100%;
        /* top: 60px; */
        top: 0;
        gap: 16px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
        background: hsla(0, 100%, 1%, 0.589);
        backdrop-filter: blur(2rem);
        width: 100%;
        height: 100vh;
        text-align: center;
        transition: all 0.3s;
        /* z-index: 500; */
    }

    .resp-nav-item {
        margin: 16px 0;
    }

    .resp-nav-menu.active {
        left: 0;
    }
}

.hero {
    width: 100%;
}


.nav-link.contact {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(50, 129, 3);
    padding: 8px 16px;
    /* border-radius: 8px; */
}

@media only screen and (max-width: 768px) {
    .header-one {
        display: none;
    }
    .header-two {
        display: block;
    }
}

/* Our Team Container  */

.our-team-container {
    display: flex;
    flex-direction: column;
    /* gap: 96px; */
    /* padding: 96px; */
}

.our-team-container-head {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 64px 0 0 0;
    width: 900px;
    margin: 0 auto;
}

.our-team-container-head > p {
    font-size: 24px;
    text-align: center;
    line-height: 36px;
}

.our-team-container-nav {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    gap: 32px;
    background: rgba(255, 255, 255, 0.692);
    backdrop-filter: blur(16px);
    padding: 16px;
    margin-block: 16px;
}

button.slide-nav-button {
    font-family: 'Montserrat', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
    padding: 12px 24px;
    border-radius: 8px;
    background: darkgreen;
    border: none;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

button.slide-nav-button:hover {
    transform: scale(1.125);
}

.team-members-group {
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    padding: 0 96px;
}

/* .team-members-group .two {
    padding: 0 128px;
} */

.team-members {
    /* padding: 64px; */
    width: 1000px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
}

.team-member-card {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 16px;
    border-radius: 8px;
    box-shadow: 2px 0px 10px rgba(128, 128, 128, 0.322);
    cursor: pointer;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.team-member-card div {
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 0 16px 16px 16px;
}

.team-member-card > img {
    width: 100%;
    border-radius: 8px 8px 0 0;
}

.member-info {
    display: none;
}

.team-member-card:hover {
    transform: scale(1.1);
}

.team-member-card:hover .member-info {
    display: block;
    position: absolute;
    background: white;
    width: fit-content;
    padding: 8px;
    margin-top: 250px;
    transition: 0.5s ease-in-out;
    font-size: 12px;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

#icon {
    width: 24px;
    height: 24px;
    margin-top: 8px;
}

#promoters {
    grid-template-columns: repeat(3, 1fr);
    /* padding: 0 144px; */
}

/* #promoters .team-member-card:nth-child(1) {
    grid-column-start: 2;
} */

#advisors {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 170px;
}

/* #advisors .team-member-card:nth-child(1) {
    grid-column-start: 2;
} */

.single-line-para {
    margin-bottom: 16px;
}

@media only screen and (max-width:768px) {
    .our-team-container {
        width: 100vw;
    }
    .our-team-container-head {
        gap: 16px;
        padding: 24px;
        width: 100vw;
    }
    .our-team-container-head > h1 {
        font-size: 32px;
    }

    h2 {
        width: 100vw;
        padding: 0 16px;
    }

    .our-team-container-head > p {
        font-size: 16px;
        text-align: center;
        line-height: 24px;
    }
    .team-members-group {
        gap: 16px;
    }
    .team-members {
        /* padding: 64px; */
        width: 100vw;
        grid-template-columns: repeat(2, 1fr);
        gap: 24px;
        padding: 16px;
    }
    
    .team-member-card {
        gap: 16px;
        border-radius: 8px;
        box-shadow: none;
    }
    
    .team-member-card div {
        gap: 4px;
        padding: 0;
    }
    .team-member-card div h4{
        font-size: 14px;
    }
    .team-member-card div p{
        font-size: 12px;
    }
    
    .team-member-card > img {
        width: 100%;
        border-radius: 8px 8px 0 0;
    }
    
    .member-info {
        display: none;
    }
    .team-member-card:hover {
        transform: none
    }
    .team-member-card:hover .member-info {
        display: none;
    }
    
    #icon {
        width: 24px;
        height: 24px;
        margin-top: 8px;
    }
    
    #promoters {
        grid-template-columns: repeat(2, 1fr);
    }
    
    /* #promoters .team-member-card:nth-child(1) {
        grid-column-start: 2;
        } */
        
        #advisors {
        grid-template-columns: repeat(2, 1fr);
        padding: 16px;
    }

    .single-line-para {
        margin-bottom: 16px;
    }
}

/* Footer  */
footer {
    width: 100%;
    background: black;
}

.footer-container {
    background-color: black;
    color: white;
    display: flex;
    width: 1300px;
    justify-content: space-between;
    /* align-items: center; */
    gap: 48px;
    padding: 48px;
    margin: 0 auto;
}

.footer-left {
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 40%;
    align-items: flex-start;
}

.footer-left .logo {
    height: 48px;
    width: auto;
}

.footer-right {
    display: flex;
    gap: 64px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    /* padding: 16px; */
}

.footer-links > a {
    color: gray;
    transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-links > a:hover {
    color: white;
    /* font-weight: 600; */
    transform: scale(1.1);
}

.social-icons {
    display: flex;
    gap: 16px;
}

.social-icons > a {
    padding: 0;
}

.social-icon {
    height: 32px;
    width: 32px;
}

.footer-mobile {
    display: none;
}

@media only screen and (max-width: 768px) {
    .footer-container {
        width: 100vw;
        padding: 32px;
    }
    .footer-left p {
        font-size: 12px;
    }
    .footer-mobile {
        display: flex;
        flex-direction: column;
        gap: 8px;
    }
    .footer-mobile a {
        color: white;
    }
    .footer-right {
        display: none;
    }
}